*{
    --dark-olive-green: #606c38ff;
    --kombu-green: #283618ff;
    --timberwolf: #dad7cdff;
    --laurel-green: #a3b18aff;
    --fern-green: #588157ff;
    --hunter-green: #3a5a40ff;
    --brunswick-green: #344e41ff;
    --pale-spring-bud: #ccd5aeff;
    --pale-spring-bud-2: #e9edc9ff;
    --cornsilk: #fefae0ff;
}

:root {
    --background: url('../assets/cube.jpg');
    --header-background: var(--brunswick-green);
}

body {
    height: 100%;
    padding-bottom: 30px;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    
    
}


header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
    color: var(--timberwolf);
    padding-left: 10px;
}

header h2{
    padding: 10px;
}

a {
    color: var(--pale-spring-bud)
}

#user {
    flex-grow: 2;
    margin-right: 20px;
    text-align: right;
    display: grid;
}

#user a {
    font-size: .8em;
    color:steelblue;
}

.hidden {
    display: none;
}

main {
    height: 100%;
    
    
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
